<div class="container">
    <div class="user-info">

        <div class="profile">

            <div class="img"></div>
            <h4>Hello, Maria Luysa</h4>

        </div>

        <div class="member">v</div>
        <div class="menu">
            <ul>
                <li>
                    <i class='bx bxs-dashboard'></i>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <i class='bx bxs-user'></i>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <i class='bx bx-list-ul'></i>
                    <a href="#">My subscription</a>
                </li>
                <li>
                    <i class='bx bxs-balloon'></i>
                    <a href="#">My Listings</a>
                </li>
                <li>
                    <i class='bx bx-plus'></i>
                    <a href="#">Add New Listings</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="content">Dashboard</div>

</div>
